.pagination {
    display: inline-block;
    text-align: center;
    margin-top: 50px;
    margin-left: 380px;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color .3s;
    border: 1px solid #ddd;
  }
  
  .pagination a:hover {background-color: #b43932;}
  
  
  .active:active { 
      background-color: #b43932;
  } 
  .userimg {
    padding: 5px;
    width: 33.33%;
    border-radius: 8px;
  }

  .imgdiv{
    display:inline-block;
      width: auto;
      height: auto;
      margin-right:10px;
      float:left;
  }
  
  .usercard {

  }

/* //// */
.profile {
	margin-top: -100px;
	height: 550px;
	width: 100%;
}


.profileBox {
	margin-top: -400px;
	width: 1000px;
	margin-left: 450px;
}

.userImage {
	padding: 70px;
	width: 400px;
	height: 500px; 
}



#info {
	margin-left: 190px;
	text-align: center;
	margin-top: -20px;
}

.edit {
	outline: none;
	border-radius: 10px;
	width: 60px;
	color: white;
	background-color: #b43932;
}

.edit:hover {
	outline: none;
	background-color: white;
	border: 1px solid #b43932;
	color: #b43932;
}

.h4pagi {
    text-align: center;
}