.img-container {
    /* position: absolute; */
    margin-top: 0px;
    padding: 0;
    width: 100%;
    height: 92.15%;
    overflow: hidden;
}

.img-container img {
    width: 100% !important;
    height: auto !important;
}

.img-container .btn {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #770AFA;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
  
.img-container .btn:hover {
    background-color: #FAF70E;
    color: black;
}